[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
whitenoise = "*"
django-redis = "*"
fakeredis = "*"
django-graphql-jwt = "*"
django-nose = "*"
flower = "*"
twilio = "*"
django-ratelimit = "*"
factory-boy = "*"
gunicorn = "*"
psycopg2-binary = "*"
graphene-django = "*"
tox-pipenv = "*"
celery = "*"
tox = "*"
django-extensions = "*"
django-fakeredis = "*"

[requires]
python_version = "3.7"
